# Ignore everything by default
/*

# Only track addons we've modified or created
!.gitignore
!README.md
!CHANGELOG.md
!ItemRack/
!ItemRackOptions/
!DeleteItems/
!Magnify-WotLK/
!HCBreathBar/
!TradeSkillMaster_Crafting/
!TitanSpeed/
!EpochFixes/
!FeralAPFix/
!AuxTSMBridge/
!unitscan/
!ArkInventory/
!pfQuest-epoch/
!pfQuest-wotlk/
!FavoriteContacts/
!TradeSkillMaster_AuctionDB/
!TitanGoldTracker/
!Aux-addon/
!NotPlater-3.3.5/
!Whats-Training-Epoch/
!QuestRewardIcons/
!BuffWatcher/
!TitanPerformance/
!FishingBuddy/
!PlateBuffs/
!EpochArmoryScanner/
!EpochArmoryCollector/
!CLAUDE.md
