# Ignore everything by default
/*

# Only track addons we've modified or created
!.gitignore
!ItemRack/
!ItemRackOptions/
!DeleteItems/
!Magnify-WotLK/
!HCBreathBar/
!TradeSkillMaster_Crafting/
!TitanSpeed/
!EpochFixes/
!FeralAPFix/
!AuxTSMBridge/
!unitscan/
!ArkInventory/
!pfQuest-epoch/
!pfQuest-wotlk/
!FavoriteContacts/
!TradeSkillMaster_AuctionDB/
!TitanGoldTracker/
